<ion-header>
  <ion-toolbar>
    <ion-title>
      iWareBatik
    </ion-title>
  </ion-toolbar>
  <base href="/">
</ion-header>

<ion-content fullscreen>

  <ion-card id="select-language">
    <ion-card-header>
      <ion-card-subtitle>Know more about Indonesian tourism, culture and learn knowledge about Batik and its
        safeguarding practices</ion-card-subtitle>
      <ion-card-title>Select Language</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-row>
    <ion-col size="6">
      <img id="logo" src="assets/image/home_component/language/english.png" routerLink="/index-english" />
      <h1 routerLink="/index-english">English</h1>
    </ion-col>
    <ion-col size="6">
      <img id="logo" src="assets/image/home_component/language/indonesian.png" routerLink="/index-indonesian" />
      <h1 routerLink="/index-indonesian">Indonesian</h1>
    </ion-col>
  </ion-row>

</ion-content>